_site
.bundle
.DS_store
.idea
.jekyll-cache
.jekyll-metadata
.legacy-static-backup
.local-gems
.local-ruby
.local-ruby-build
.local-src
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/*.typ
Gemfile.lock
node_modules/
vendor
