<div class="publications">
  {% bibliography --group_by none --query @*[key=dong2026minerudiffusion] %}
  {% bibliography --group_by none --query @*[key=wang2026mineru25pro] %}
  {% bibliography --group_by none --query @*[key=he2025mineru2] %}
  {% bibliography --group_by none --query @*[key=niu2025mineru20] %}
  {% bibliography --group_by none --query @*[key=niu2025nativevisual] %}

  {% bibliography --group_by none --query @*[key=niu2025ovobench] %}
  {% bibliography --group_by none --query @*[key=seedteam2025seed18] %}
  {% bibliography --group_by none --query @*[key=seedteam2026seed20] %}
</div>
